.titulo-1, .titulo-2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}

.titulo-1 {
    font-size: 24px;
}

.titulo-2 {
    font-size: 18px;
    font-style: italic;
}

html, body {
    background-color: aquamarine;
}